<template lang="pug">
  v-dialog(v-model="registerDialog")
    v-btn.primary(accent slot="activator").
      {{ isUserRegistered ? 'Unregister' : 'Register' }}
    v-card
      v-container
        v-layout(row wrap)
          v-flex(xs12)
            v-card-title(v-if="isUserRegistered") Unregister from News
            v-card-title(v-else) Register for News?
        v-divider
        v-layout(row wrap)
          v-flex(xs12)
            v-card-title You can always change your decision later on.
        v-layout(row wrap)
          v-flex(xs12)
            v-card-actions
              v-btn.red--text.darken-1(flat @click.native="registerDialog = false") Close
              v-btn.green--text.darken-1(flat @click.native="onAgree") Confirm
</template>
<script>

  export default {
    props: ['newsId'],
    data() {
      return {
        registerDialog: false
      }
    },
    computed: {
      isUserRegistered () {
        return this.$store.getters.user.registeredNews.findIndex(newsId => {
          return newsId === this.newsId
        }) >= 0
      }
    },
    methods: {
      onAgree () {
        if (this.isUserRegistered) {
          this.$store.dispatch('unRegisterUserForNews', this.newsId)
        } else {
          this.$store.dispatch('registerUserForNews', this.newsId)
        }
      }
    }
  }
</script>
