<template lang="pug">
  v-container
    v-layout(row v-if="error")
      v-flex(xs12 sm6 offset-sm3)
        app-alert(@dismissed="onDismissed" :text="error.message")
    v-layout
      v-flex(xs12 sm6 offset-sm3)
        v-card
          v-card-text
            v-container
              form(@submit.prevent="onSignup")
                v-layout
                  v-flex
                    h4.primary--text User register
                v-layout(row)
                  v-flex(xs12)
                    v-text-field(name="firstName" label="First name" id="firstName" v-model="firstName" type="text" required)
                v-layout(row)
                  v-flex(xs12)
                    v-text-field(name="lastName" label="Last name" id="lastName" v-model="lastName" type="text" required)
                v-layout(row)
                  v-flex(xs12)
                    v-text-field(name="email" label="Email" id="email" v-model="email" type="email" required)
                v-layout(row)
                  v-flex(xs12)
                    v-text-field(name="password" label="Password" id="password" v-model="password" type="password" required)
                v-layout(row)
                  v-flex(xs12)
                    v-text-field(name="comfirmPassword" label="Comfirm Password"
                                id="comfirmPassword" v-model="comfirmPassword" type="password" :rules="[comparePasswords]")
                v-layout(row)
                  v-flex(xs12)
                    v-btn(type="submit" :disabled="loading" :loading="loading") Sign up
                      span.custom-loader(slot="loader")
                        v-icon(light) cached
</template>
<script>
  export default {
    data() {
      return {
        firstName: '',
        lastName: '',
        email: '',
        password: '',
        comfirmPassword: ''
      }
    },
    computed: {
      comparePasswords() {
        return this.password != this.comfirmPassword ? 'Password do not match!' : '';
      },
      user() {
        return this.$store.getters.user
      },
      error () {
        return this.$store.getters.error
      },
      loading () {
        return this.$store.getters.loading
      }
    },
    watch: {
      user(value) {
        if(value !== null && value !== undefined) {
          this.$router.push('/')
        }
      }
    },
    methods: {
      onSignup() {
        this.$store.dispatch('signUserUp', {
          firstName: this.firstName,
          lastName: this.lastName,
          email: this.email,
          password: this.password
        })
      },
      onDismissed () {
        this.$store.dispatch('clearError')
      }
    }
  }
</script>
