<template lang="pug">
  v-container
    v-layout.mb-2(row wrap)
      v-flex.text-sm-right(xs12 sm6)
        v-btn.info(large to="/newsList") Explore News
      v-flex.text-sm-left(xs12 sm6)
        v-btn.info(large to="/news/createNews") Organize News
    v-layout
      v-flex.text-xs-center(xs12)
        v-progress-circular.primary--text(indeterminate :width="7" v-bind:size="70" v-if="loading")
    v-layout(row wrap v-if="!loading")
      v-flex.text-xs-center(xs12)
        v-carousel
          v-carousel-item(v-for="news in newsList" v-bind:src="news.imageUrl" v-bind:key="news.id")
            .title {{ news.title }}
    section
      v-layout.my-5(column wrap align-center v-if="!loading")
        v-flex.my-3(xs12 sm4)
          .text-xs-center
            h2.headline The best way to start developing
            span.subheading Cras facilisis mi vitae nunc
        v-flex(xs12)
          v-container(grid-list-xl)
            v-layout(row wrap align-center)
              v-flex(xs12 md4)
                v-card.elevation-0.transparent
                  v-card-text.text-xs-center
                    v-icon.blue--text.text--lighten-2(x-large) color_lens
                  v-card-title.layout.justify-center(primary-title)
                    .headline.text-xs-center Material Design
                  v-card-text.
                    Cras facilisis mi vitae nunc lobortis pharetra. Nulla volutpat tincidunt ornare.
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Nullam in aliquet odio. Aliquam eu est vitae tellus bibendum tincidunt. Suspendisse potenti.
              v-flex(xs12 md4)
                v-card.elevation-0.transparent
                  v-card-text.text-xs-center
                    v-icon.blue--text.text--lighten-2(x-large) flash_on
                  v-card-title.layout(primary-title)
                    .headline.text-xs-center Fast development
                  v-card-text.
                    Cras facilisis mi vitae nunc lobortis pharetra. Nulla volutpat tincidunt ornare.
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Nullam in aliquet odio. Aliquam eu est vitae tellus bibendum tincidunt. Suspendisse potenti.
              v-flex(xs12 md4)
                v-card.elevation-0.transparent
                  v-card-text.text-xs-center
                    v-icon.blue--text.text--lighten-2(x-large) build
                  v-card-title.layout.justify-center(primary-title)
                    .headline.text-xs-center Completely Open Sourced
                  v-card-text.
                    Cras facilisis mi vitae nunc lobortis pharetra. Nulla volutpat tincidunt ornare.
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Nullam in aliquet odio. Aliquam eu est vitae tellus bibendum tincidunt. Suspendisse potenti.
</template>
<script>
  export default {
    computed: {
      newsList () {
        return this.$store.getters.newsList
      },
      loading () {
        return this.$store.getters.loading
      }
    },
    methods: {
      onLoadNews (id) {
        this.$router.push('/news/' + id)
      }
    }
  }
</script>

<style scoped>
  .title {
    position: absolute;
    bottom: 50px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 2em;
    padding: 20px;
  }
</style>
