<template lang="pug">
  section
    v-divider
    v-layout.my-5(row wrap justify-center)
      v-flex(xs12 md4)
        v-card.elevation-0.transparent
          v-card-title.layout.justify-center(primary-title)
            .headline Company info
          v-card-text.text-xs-center Solve solution to students can grasp knowledge easy.
      v-flex(xs12 sm4 offset-sm1)
        v-card.elevation-0.transparent
          v-card-title.layout.justify-center(primary-title)
            .headline Contact us
          v-card-text.text-xs-center Study, study more, study forever.
          div(style="text-align: center")
            v-list(transparent)
              v-list-tile
                v-list-tile-action
                  v-icon.blue--text.text--lighten-2 phone
                v-list-tile-content
                  v-list-tile-title 777-867-5309
              v-list-tile
                v-list-tile-action
                  v-icon.blue--text.text--lighten-2 place
                v-list-tile-content
                  v-list-tile-title Ho Chi Minh City
              v-list-tile
                v-list-tile-action
                  v-icon.blue--text.text--lighten-2 email
                v-list-tile-content
                  v-list-tile-title gagru@gmail.com
    v-footer.pa-3.primary(dark)
      v-spacer
      | © {{ new Date().getFullYear() }} By GaSieuGru
</template>
