<template lang="pug">
  v-container
    v-layout(row)
      v-flex(xs12)
        h4.primary--text Create a News
    v-layout(row)
      v-flex(xs12)
        form(@submit.prevent="onCreateNews")
          v-layout(row)
            v-flex(xs12 sm6 offset-sm3)
              v-text-field(name="title" label="Title" id="title" v-model="title" required)
          v-layout(row)
            v-flex(xs12 sm6 offset-sm3)
              v-text-field(name="location" label="Location" id="location" v-model="location" required)
          v-layout(row)
            v-flex(xs12 sm6 offset-sm3)
              v-btn.primary(raised @click="onPickFile") Upload image
              input(type="file" style="display: none" ref="fileInput" accept="image/*" @change="onFilePicked")
          v-layout(row)
            v-flex(xs12 sm6 offset-sm3)
              img(v-bind:src="imgUrl" height="150")
          v-layout(row)
            v-flex(xs12 sm6 offset-sm3)
              v-text-field(name="description" label="Description" id="description" v-model="description" multi-line required)
          v-layout(row)
            v-flex(xs12 sm6 offset-sm3)
              h4 Choose a Data & Time
          v-layout(row)
            v-flex(xs12 sm6 offset-sm3)
              v-date-picker(v-model="date")
              p {{ date }}
          v-layout(row)
            v-flex(xs12 sm6 offset-sm3)
              v-time-picker(v-model="time" format="24hr")
              p {{ time }}
          v-layout(row)
            v-flex(xs12 sm6 offset-sm3)
              v-btn.primary(v-bind:disabled="!formIsValid" type="submit") Create News
              | {{ submittableDateTime }}
</template>

<script>
  export default {
    data() {
      return {
        title: '',
        location: '',
        imgUrl: '',
        description: '',
        date: new Date(),
        time: new Date(),
        image: null
      }
    },
    computed: {
      formIsValid() {
        return this.title !== '' &&
          this.location !== '' &&
          this.imgUrl !== '' &&
          this.description !== '';
      },
      submittableDateTime () {
        const date = new Date(this.date)

        if (typeof this.time === 'string') {
          const hours = this.time.match(/^(\d+)/)[1]
          const minutes = this.time.match(/:(\d+)/)[1]
          date.setHours(hours)
          date.setMinutes(minutes)
        } else {
          date.setHours(this.time.getHours())
          date.setMinutes(this.time.getMinutes())
        }
        return date
      }
    },
    methods: {
      onCreateNews() {
        if (!this.formIsValid || !this.image) {
          return
        }

        const news = {
          title: this.title,
          location: this.location,
          image: this.image,
          description: this.description,
          date: this.submittableDateTime
        }

        this.$store.dispatch('createNews', news)
        this.$router.push('/newsList')
      },
      onPickFile() {
        this.$refs.fileInput.click()
      },
      onFilePicked(event) {
        const files = event.target.files
        let fileName = files[0].name

        if (fileName.lastIndexOf('.') <= 0) {
          return alert('Please add a valid file!!!')
        }
        const fileReader = new FileReader()
        fileReader.addEventListener('load', () => {
          this.imgUrl = fileReader.result
        })
        fileReader.readAsDataURL(files[0])
        this.image = files[0]
      }
    }
  }
</script>
