<template lang="pug">
  v-container
    v-layout(row wrap v-if="loading")
      v-flex.text-xs-center(xs12)
        v-progress-circular.primary--text(indeterminate :width="7" :size="70" v-if="loading")
    v-layout(row wrap v-else)
      v-flex(xs12)
        v-card
          v-card-title
              h6.primary--text {{ news.title }}
              template(v-if="isUserCreator")
                v-spacer
                app-edit-news-details-dialog(v-bind:news="news")
          v-card-media(v-bind:src="news.imageUrl" height="400px")
          v-card-text
            .info--text {{ news.date | date }} - {{ news.location }}
            app-edit-news-date-dialog(v-bind:news="news" v-if="isUserCreator")
            app-edit-news-time-dialog(v-bind:news="news" v-if="isUserCreator")
            div {{ news.description }}
          v-card-actions
            v-spacer
            app-news-register-dialog(v-bind:newsId="news.id" v-if="isAuthenticatedUser && !isUserCreator")
</template>
<script>
  export default {
    props: ['id'],
    computed: {
      news () {
        return this.$store.getters.loadedNews(this.id)
      },
      isAuthenticatedUser() {
        return this.$store.getters.user !== null && this.$store.getters.user !== null
      },
      isUserCreator() {
        if (!this.isAuthenticatedUser) {
          return false
        }
        return this.$store.getters.user.id === this.news.creatorId
      },
      loading () {
        return this.$store.getters.loading
      }
    }
  }
</script>
