<template lang="pug">
  v-container
    v-layout.mb-2(row wrap v-for="news in newsList" v-bind:key="news.id")
      v-flex(xs12 sm10 md8 offset-sm1 offset-md2)
        v-card.info
          v-container(fluid)
            v-layout(row)
              v-flex(xs5 sm4 md3)
                v-card-media(v-bind:src="news.imageUrl" height="130px")
              v-flex(xs7 sm8 md9)
                v-card-title(primary-title)
                  div
                    h5.white--text.mb-0 {{ news.title }}
                    div {{ news.date | date }}
                v-card-actions
                  v-btn(flat v-bind:to="'/news/' + news.id")
                    v-icon(left light) arrow_forward
                    | View news
</template>
<script>
  export default {
    computed: {
      newsList () {
        return this.$store.getters.newsList
      }
    }
  }
</script>
