<template lang="pug">
  v-app
    v-navigation-drawer(temporary v-model="sideNav")
      v-list
        v-list-tile(v-for="item in menuItems" v-bind:key ="item.title" v-bind:to="item.link")
          v-list-tile-action
            v-icon {{ item.icon }}
          v-list-tile-content {{ item.title }}
        v-list-tile(v-if="userIsAuthenticated" @click="onLogout")
          v-list-tile-action
            v-icon exit_to_app
          v-list-tile-content Logout
    v-toolbar.primary(dark)
      v-toolbar-side-icon(@click.stop="sideNav = !sideNav")
      v-toolbar-title
        router-link(to="/" tag="span" stype="cursor: pointer") Education
      v-spacer
      v-toolbar-items.hidden-xs-only
        v-btn(flat v-for="item in menuItems" v-bind:key ="item.title" v-bind:to="item.link")
          v-icon(left dark) {{ item.icon }}
          | {{item.title}}
        v-btn(v-if="userIsAuthenticated" flat @click="onLogout")
          v-icon(left dark) exit_to_app
          | Logout
    main
      router-view
    app-footer
</template>

<script>
  import 'core-js/es6/object'
  import footer from './components/common/footer'
  export default {
    data () {
      return {
        sideNav: false,
      }
    },
    computed: {
      menuItems () {
        let menuItems = [
          {icon: 'face', title: 'Sign up', link: '/signup'},
          {icon: 'lock_open', title: 'Sign in', link: '/signin'}
        ]
        if (this.userIsAuthenticated) {
          menuItems = [
            {icon: 'book', title: 'View Courses', link: '/courses'},
            {icon: 'room', title: 'Organization', link: '/courses/news'},
            {icon: 'person', title: 'Profile', link: '/profile'}
          ]
        }
        return menuItems
      },
      userIsAuthenticated () {
        return this.$store.getters.user !== null && this.$store.getters.user !== undefined;
      }
    },
    methods: {
      onLogout () {
        this.$store.dispatch('logout')
      }
    },
    components: {
      'app-footer': footer
    }
  }
</script>
<style lang="stylus">
  @import './stylus/main.styl';
</style>
