<template lang="pug">
  v-dialog(width="350px" v-model="editDialog")
    v-btn(accent slot="activator").
      Edit Date
    v-card
      v-container
        v-layout(row wrap)
          v-flex(xs12)
            v-card-title
              h5 Edit date
        v-divider
        v-layout(row wrap)
          v-flex(xs12)
            v-date-picker(v-model="editableDate" style="width: 100%" actions)
              template(scope="{save, cancel}")
                v-btn.blue--text.darken-1(flat @click.native="editDialog = false") Close
                v-btn.blue--text.darken-1(flat @click.native="onSaveChanges") Save
</template>
<script>
  export default {
    props: ['news'],
    data() {
      return {
        editDialog: false,
        editableDate: null
      }
    },
    methods: {
      onSaveChanges () {
        const newDate = new Date(this.news.date)
        const newDay = new Date(this.editableDate).getUTCDate()
        const newMonth = new Date(this.editableDate).getUTCMonth()
        const newYear = new Date(this.editableDate).getUTCFullYear()
        newDate.setUTCDate(newDay)
        newDate.setUTCMonth(newMonth)
        newDate.setUTCFullYear(newYear)

        this.editDialog = false
        this.$store.dispatch('updateNews', {
          id: this.news.id,
          date: newDate
        })
      }
    },
    created () {
      this.editableDate = new Date(this.news.date)
    }
  }
</script>
