<template lang="pug">
  v-dialog(width="350px" v-model="editDialog")
    v-btn(accent slot="activator").
      Edit Time
    v-card
      v-container
        v-layout(row wrap)
          v-flex(xs12)
            v-card-title
              h5 Edit Time
        v-divider
        v-layout(row wrap)
          v-flex(xs12)
            v-time-picker(v-model="editableTime" style="width: 100%" actions format="24hr")
              template(scope="{save, cancel}")
                v-btn.blue--text.darken-1(flat @click.native="editDialog = false") Close
                v-btn.blue--text.darken-1(flat @click.native="onSaveChanges") Save
</template>
<script>

  export default {
    props: ['news'],
    data() {
      return {
        editDialog: false,
        editableTime: null
      }
    },
    methods: {
      onSaveChanges () {
        const newDate = new Date(this.news.date)
        const hours = this.editableTime.match(/^(\d+)/)[1]
        const minutes = this.editableTime.match(/:(\d+)/)[1]
        newDate.setHours(hours)
        newDate.setMinutes(minutes)
        this.editDialog = false
        this.$store.dispatch('updateNews', {
          id: this.news.id,
          date: newDate
        })
      }
    },
    created () {
      this.editableTime = new Date(this.news.date).toTimeString()
    }
  }
</script>
