<template lang="pug">
  v-dialog(width="350px" v-model="editDialog")
    v-btn(fab accent slot="activator")
      v-icon edit
    v-card
      v-container
        v-layout(row wrap)
          v-flex(xs12)
            v-card-title
              h5 Edit news
        v-layout(row wrap)
          v-flex(xs12)
            v-card-text
              v-text-field(name="title" label="Title" id="title" v-model="editedTitle" required)
              v-text-field(name="description" label="Description" id="description" v-model="editedDescription" multi-line required)
        v-divider
        v-layout(row wrap)
          v-flex(xs12)
            v-card-actions
              v-btn.blue--text.darken-1(flat @click="editDialog = false") Close
              v-btn.blue--text.darken-1(flat @click="onSaveChanges") Save
</template>
<script>
  export default {
    props: ['news'],
    data() {
      return {
        editDialog: false,
        editedTitle: this.news.title,
        editedDescription: this.news.description
      }
    },
    methods: {
      onSaveChanges () {
        if (this.editedTitle.trim() === '' && this.editedDescription.trim() === '') {
          return
        }
        this.editDialog = false
        this.$store.dispatch('updateNews', {
          id: this.news.id,
          title: this.editedTitle,
          description: this.editedDescription
        })
      }
    }
  }
</script>
